[submodule "Simple-Render-Distance"]
	path = Simple-Render-Distance
	url = https://github.com/scuroinside/Simple-Render-Distance.git
[submodule "BadCoderz"]
	path = BadCoderz
	url = https://github.com/ExtReMLapin/BadCoderz
[submodule "Hook-Library"]
	path = Hook-Library
	url = https://github.com/Srlion/Hook-Library
[submodule "gmod-lua-performance"]
	path = gmod-lua-performance
	url = https://github.com/OverlordAkise/gmod-lua-performance
[submodule "gmsv_async_stdout"]
	path = gmsv_async_stdout
	url = https://github.com/WilliamVenner/gmsv_async_stdout
[submodule "gm_microoptimisation_war_crime"]
	path = gm_microoptimisation_war_crime
	url = https://github.com/WilliamVenner/gm_microoptimisation_war_crime
[submodule "gmod_random_patches"]
	path = gmod_random_patches
	url = https://github.com/Pika-Software/gmod_random_patches
[submodule "gm_addon_optimization_tricks"]
	path = gm_addon_optimization_tricks
	url = https://github.com/CFC-Servers/gm_addon_optimization_tricks
